{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="card">
        <img src="{{card.image.url}}">
    </div>
      <div class="buttons">
        <form action="{% url 'add_card' %}" method="post">
            {% csrf_token %}
            <input name="card_id" type="hidden" value="0">
            <input type= 'submit' class="btn btn-x">
            <i class="fas fa-times"></i>
        </form>

          <form action="{% url 'trade_card' %}" method="post">
            {% csrf_token %}
            <input name="card_id" type="hidden" value="0">
            <input type='submit' class="btn btn-x">
            <i class="fas fa-times"></i>
        </form>
        <button type= 'submit' class="btn btn-heart">
          <i class="fas fa-heart"></i>
        </button>
      </div>
</body>
</html>